baseURL = 'https://example.org/'
languageCode = 'en-us'
title = 'nate randa'

disableKinds = ['taxonomy', 'term', 'RSS']
cleanDestinationDir = true
renderer.unsafe = true

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.parser]
      [markup.goldmark.parser.attribute]
        block = true
        title = true

[caches]
  [caches.images]
    dir = ':cacheDir/images'