<!DOCTYPE html>
<html lang="en" charset="utf-8">
<head>
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/markdown.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="icon" href="/favicon.png" sizes="32x32" type="image/png">
</head>
<body>
<div class="container">
    <h1 class="title">
    {{ if and .CurrentSection (ne .CurrentSection.Kind "home") }}
        {{ .CurrentSection.Title }}
    {{ else }}
        {{ .Title }}
    {{ end }}
    </h1>
    <nav>
        <a href="/">home</a> ·
        <a href="/about/">about</a> ·
        <a href="/blog/">blog</a> ·
        <a href="/projects/">projects</a> ·
        <a href="/resume.pdf" target="_blank">resume</a> ·
        <a href="/contact/">contact</a>
    </nav>
    {{ block "main" . }}
	{{ end }}
</div>
</body>
</html>